# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore workspace settings but keep project configurations
/.idea/*
!/idea/misc.xml
!/idea/modules.xml
!/idea/compiler.xml
!/idea/vcs.xml